DB_USER=
DB_PASS=
DB_HOST=
DB_PORT=
DB_NAME=
MODE=DEV

ACCESS_ALGORITHM=
ACCESS_PUBLIC_KEY_PATH=certs/access-public.pem
ACCESS_PRIVATE_KEY_PATH=certs/access-private.pem
ACCESS_TOKEN_EXPIRE_MINUTES=

REFRESH_ALGORITHM=
REFRESH_PUBLIC_KEY_PATH=certs/refresh-public.pem
REFRESH_PRIVATE_KEY_PATH=certs/refresh-private.pem
REFRESH_TOKEN_EXPIRE_DAYS=
REFRESH_TOKEN_VERSION=
