#database, orm, migrations
asyncpg~=0.31.0
sqlalchemy~=2.0.49
alembic~=1.18.4

#api & DI
fastapi~=0.136.1
uvicorn~=0.46.0
dishka~=1.10.1

#auth
pyjwt[crypto]~=2.12.1
bcrypt~=5.0.0
python-multipart~=0.0.28

#validation
pydantic[email]~=2.13.3
pydantic-settings~=2.14.1

#logging
loguru~=0.7.3

#pipeline
pre-commit~=4.6.0
pyright~=1.1.409
ruff~=0.15.13
